__pycache__/
doc/build/
*.jar
ubergrid/src/pip-delete-this-directory.txt
ubergrid/src/sklearn2pmml
build/
dist/
ubergrid.egg-info
ubergrid/bin
ubergrid/notebooks
sample/src
sample/models
sample/booster.pkl
sample/booster_grid_params.json
sample/data/donations.csv
sample/data/transfusion.data